# **Linear Regression by Gradient Descent:**

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
data = pd.read_csv("/content/drive/MyDrive/data/4K_House_Rent_Dataset.csv")
data.head()

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
0,2022-05-18,2,10000,1100,Ground out of 2,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner
1,2022-05-13,2,20000,800,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
2,2022-05-16,2,17000,1000,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
3,2022-07-04,2,10000,800,1 out of 2,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner
4,2022-05-09,2,7500,850,1 out of 2,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1,Contact Owner

In [3]:
data.shape

(4746, 12)

In [5]:
Y = data['Rent'].values
X1 = data['Size'].values
X2 = data['BHK'].values
X3 = data['City'].replace({'Bangalore':1,'Chennai':2,'Delhi':3,'Hyderabad':4,'Kolkata':5,'Mumbai':6})
X4 = data['Bathroom'].values
X5 = data["Furnishing Status"].replace({"Unfurnished": 0, "Semi-Furnished": 1, "Furnished": 2}).values

print(X3)
print(X5)

0       5
1       5
2       5
3       5
4       5
       ..
4741    4
4742    4
4743    4
4744    4
4745    4
Name: City, Length: 4746, dtype: int64
[0 1 1 ... 1 1 0]

In [6]:
def min_max_scalar(input_list):
  min = np.min(input_list)
  max = np.max(input_list)
  dif = max-min
  return [(item-min)/dif for item in input_list]

mean_X1 = min_max_scalar(X1)
mean_X2 = min_max_scalar(X2)
mean_X3 = min_max_scalar(X3)
mean_X4 = min_max_scalar(X4)
mean_X5 = min_max_scalar(X5)

In [9]:
theta_0 = 0
theta_1 = 0
theta_2 = 0
theta_3 = 0
theta_4 = 0
theta_5 = 0


m = len(X1)
epoch = 1000
learning_rate = 0.00000001
for i in range(epoch):
  temp_0 = 0
  temp_1 = 0
  temp_2 = 0
  temp_3 = 0
  temp_4 = 0
  temp_5 = 0
  
  for j in range(m):
    temp_0 += (theta_0 + theta_1*mean_X1[j] + theta_2*mean_X2[j] + theta_3*mean_X3[j] + theta_4*mean_X4[j] + theta_5*mean_X5[j] - Y[j])
    temp_1 += (theta_0 + theta_1*mean_X1[j] + theta_2*mean_X2[j] + theta_3*mean_X3[j] + theta_4*mean_X4[j] + theta_5*mean_X5[j] - Y[j]) * mean_X1[j]
    temp_2 += (theta_0 + theta_1*mean_X1[j] + theta_2*mean_X2[j] + theta_3*mean_X3[j] + theta_4*mean_X4[j] + theta_5*mean_X5[j] - Y[j]) * mean_X2[j]
    temp_3 += (theta_0 + theta_1*mean_X1[j] + theta_2*mean_X2[j] + theta_3*mean_X3[j] + theta_4*mean_X4[j] + theta_5*mean_X5[j] - Y[j]) * mean_X3[j]
    temp_4 += (theta_0 + theta_1*mean_X1[j] + theta_2*mean_X2[j] + theta_3*mean_X3[j] + theta_4*mean_X4[j] + theta_5*mean_X5[j] - Y[j]) * mean_X4[j]
    temp_5 += (theta_0 + theta_1*mean_X1[j] + theta_2*mean_X2[j] + theta_3*mean_X3[j] + theta_4*mean_X4[j] + theta_5*mean_X5[j] - Y[j]) * mean_X5[j]
    

  theta_0 = theta_0 - learning_rate*temp_0/m
  theta_1 = theta_1 - learning_rate*temp_1/m
  theta_2 = theta_2 - learning_rate*temp_2/m
  theta_3 = theta_3 - learning_rate*temp_3/m
  theta_4 = theta_4 - learning_rate*temp_4/m
  theta_5 = theta_5 - learning_rate*temp_5/m
  
print(theta_0,theta_1,theta_2,theta_3,theta_4,theta_5)

0.34993165890189837 0.06756777676580909 0.12391185819822186 0.23071983045284508 0.07141640516124163 0.17221336361002226


**Cost Calculation:**

In [10]:
sum = 0
for j in range(m):
  err = theta_0 + theta_1*mean_X1[j] + theta_2*mean_X2[j] + theta_3*mean_X3[j] + theta_4*mean_X4[j] + theta_5*mean_X5[j]
  err = err** 2
  sum+=err


cost = sum/(2*m)

print("Cost :", cost)

Cost : 0.16929256994848196